<div id="header">
 <header>
   <%= render 'layouts/navbar2' %>
</header>

<div class="row">
  <div class="beer-page" id="beer-style-show">
    <div id="beer_categories" class="col-sm-3">
      <ul class="catergory-list">
        <% @style.beers.each do |beer| %>
          <li class="section">
            <%= link_to(beer.name, beer) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1><%= @style.style_name %></h1>
      <p><%= @style.style_description %></p>
    </div>
  </div>
</div>
