<div class="nav_contain">
  <%= render 'layouts/navbar2' %>
  <div class="content-section">
    <div class="container">
      <div class="beer-page" id="beer-style-show">
        <div class="row" id="style">
          <div id="beer_list" class="col-sm-3">
            <ul class="catergory-list">
              <% @style.beers.each do |beer| %>
                <li class="section">
                  <%= link_to(beer.name, beer) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div id='individual_style' class="col-sm-9">
            <h1><%= @style.style_name %></h1>
            <p><%= @style.style_description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
