<div class="container-fluid">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Top Beers</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <!-- top abv beers -->
        <div class="modal-body">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Top Beer by ABV
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="row">
                    <% @beers.each do |beer| %>
                      <li class="col-sm-6.col-sm-offset-3"><%= link_to(beer.name, beer) %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <!-- top favorited beers -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Top Favorited Beers
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="row">
                    <% @sorted_favorites.each do |favorite| %>
                      <% beer = Beer.find(favorite[0]) %>
                      <li class="col-sm-6.col-sm-offset-3"><%= link_to(beer.name, beer) %> | <i class='fa fa-beer' ></i> <%= favorite[1].count %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div><!-- top featured beers modal end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
