<h1>Welcome To Glass Over Flowing</h1>
<%= video_tag('sample.mp4', autoplay: true, loop: true, id: 'video-background', class: 'video-js vjs-default-skin') %>

<div class="info-front">
  <h2>Site in progress</h2>
  <p>But feel free to look around and check back to see our progress!</p>
</div>
