@import 'bootstrap';
@import 'video-js';
@import 'font-awesome';
@import 'styles';
@import 'beer';
@import 'users';

h1 {
  font-size: 175px, Helvetica;
  text-align: center;
}

//**background-video**//

#video-background {
  position: absolute !important;
  top: 0 !important;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

//*********navbar**********//
#item1 {
  font-size: 20px;
  font-family: Helvetica;
  color: white;

}

//

//styling for footer.
// .footer-1 {
//   padding-top: 50px;
//   padding-bottom: 50  px;
//   font-size: 15px;
//   background-color: #7f8c8d;
//   color: #95a5a6;
// }
