@import 'bootstrap';
@import 'font-awesome';
@import 'categories';
@import 'styles';
@import 'beer';
@import 'users';
@import 'devise_styles';
@import 'grayscale';


div.container-fluid.main-box {
  height: 90%;
  margin-top: 2%;
  width: 90%;
}

#about div.row,
.fa-stack {
  padding-top: 6%;
}

#about {
  background-color: black;
}

#j-img,
#l-img {
  margin: auto;
}

#featured {
  padding-top: 20%;
}

#featured div h2,
#featured div h2 button
 {
  color: darkred;
}

#contact {
  padding-top:15%;
}

.nav_contain nav div.container {
  background-color: black;
}

.fa-beer,
.fa-arrow-left,
.sign-in a {
  color: black;
}

.fa-beer:hover,
.fa-arrow-left:hover,
.sign-in a:hover {
  color: goldenrod;
}

.beer-page h1 {
  color: goldenrod;
}

.beer-page div.row {
  background-color: white;
  border-radius: .5%;
  height: 100%;
}

// ******* flash notice and alert styling ******* //

.flash-alert{
  padding:  .91324200913242%;
  border: 1px solid #750202;
  color: #750202;
  font-size: 18px;
  background-color: #fcadad;
  font-weight: bold;
}

.flash-notice {
  padding:  .91324200913242%;
  border: 1px solid #017505;
  color: #017505;
  font-size: 18px;
  background-color: #b5ffb2;
  font-weight: bold;
}


// ***** media queries ***** //

//***** home page ******//

@media screen and (max-width: 573px) {

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  #about.content-section,
  #contact.content-section {
    height: 487px;
  }

  #contact.content-section {
    padding-top: 20%;
  }

  img#j-img,
  img#l-img {
    padding-top: 0;
    display: none;
  }

  #about.container-fluid {
    padding-top: 21%;

    div.col-sm-6 {
      padding: 10% 0;

      h2 {
        font-size: 150%;
        margin: 0;
      }
    }
  }

  #featured {
    border-top: 1px solid white;
    padding: 45% 0;
  }

  #contact {
    border-top: 1px solid white;

    ul {
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
      }
    }
  }

  footer {
    padding: 10% 0;
  }

  //***** categories *****//

  div.content-section {
    padding-top: 15.319468%;

    .main-box.category {
      max-height: 100%;

      h4.panel-title {
        font-size: 11px;
      }

      .collapse {
        max-height: 200px;
        overflow: auto;

        ul.row {
          padding-left: 0;
        }
      }
    }
  }

  //***** style page *****//

  .content-section .container-fluid.main-box {
    width: 100%;
    margin-top: 0;

    #style {
      background-color: white;
    }

    .catergory-list {
      max-height: 235px;
      overflow: auto;
      border-top: 2px solid black;
      list-style: none;
      padding-left: 0;
      padding-top: 3%;
    }

    #individual_style {
      margin: 0 auto;
      float: none;
      max-height: 180px;
      overflow: auto;
      margin-bottom: 0;

      h1 {
        font-size: 25px;
        margin-bottom: 0;
      }
    }

  }

  //***** beer page *****//

  .main-beer {
    padding-top: 5%;
    height: 431px;

    h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
      margin: 10px 0;
    }
    p {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {

  div.container-fluid {
    height: 95%;
    overflow: auto;

    .content-section {
      height: 100%;
      margin: auto 0;

      .category {
        overflow: auto;
        padding-top: 8%;

        .container {
          width: 970px;
          height: 95%;
        }
      }
    }
  }

  #featured.content-section {
    border-bottom: 1px solid white;
  }

  #about.content-section {
    height: initial;
    padding-top: 15%;
  }
}

@media screen and (min-width: 1001px) {

  div.container-fluid {
    max-height: 100%;

    .category {
      overflow: auto;
      height: 500px;
    }

    .container-fluid.main-box {
      margin-top: 0;
      width: initial;

      #individual_style {
        max-height: 560px;
        min-height: 560px;
      }
    }
  }
}
