// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#accordion.panel-group {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.panel-title a {
  font-size: 130%;
}

.panel-collapse ul{
  text-align: left;
}

body {
  // display: table;
  // width: 100%;
  // height: auto;
  // padding: 100px 0;
  // text-align: center;
  // color: #fff;
  background: url(bubbly.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
