// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#accordion.panel-group {
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 6%;
}

.panel-title a {
  font-size: 130%;
}

.panel-collapse ul{
  list-style: none;
  text-align: left;
}
