// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_remember_me {
  margin-left: 0;
}

// .user-show {
//   margin-top: 5%;
//   height: 450px;
// }
.user {
  margin-top: 12%;
  color: black;
}

#user-page p {
  margin: 0;
}

#profile_pic {
  border: 1px solid black;
  margin: auto;
}

.summary {
  background-color: #DDD;
  height: 455px;
  padding-top: 2%;
  border-radius: 2%;
}
.summary p {
  margin: 8% 0;
}
.user-main {
  background-color: #DDD;
  border-radius: 2%;
}

#myModalLabel {
  color: black;
}

// when window is less then about 880px the style name and description disappear and move to the bottom //
