// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_remember_me {
  margin-left: 0;
}

#profile_pic {
  border: 1px solid black;
  margin: auto;
}

#main-content {
  background-color: transparent;
}

.user-main {
  float: right;
}

.summary,
.user-main {
  height: 100%;
  padding-top: 2%;
  background-color: white;
}

.summary {
  width: 20%;
}
.summary p {
  margin: 8% 0;
}

#myModalLabel {
  color: black;
}

// when window is less then about 880px the style name and description disappear and move to the bottom //
