<div class="row beer-page">
  <% @categories.each do |category| %>
    <div class="col-sm-6">
      <h2><%= category.name %></h2>
      <p><%= category.category_description %></p>
      <ul>
        <% category.styles.each do |style| %>
          <li><%= link_to(style.style_name, style) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
