<h1>Manage Beer</h1>

<h3><%= link_to 'Add New Beer', new_admin_beer_path %></h3>

<% @beers.each do |beer| %>
  <h3><%= link_to beer.category, admin_beer_path(beer.id) %></h3>
  <%= link_to 'Delete Beer', admin_beer_path(beer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
