<h2>Justin Veirs</h2>
<div class="justin">
    <%= image_tag("justin.png", :class=> "img-responsive img-circle", :id=> "j-img" ) %>
  <span class="fa-stack fa-2x gitb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href='https://github.com/cheezedigital' target='_blank'><i class="fa fa-github fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x linkin">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://linkedin.com/pub/justin-veirs/73/179/9a4" target='_blank'><i class="fa fa-linkedin fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x fb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://plus.google.com/u/0/118262677458058849941/about" target='_blank'><i class="fa fa-google fa-stack-1x"></i></a>
  </span>
</div>
