<h2>Justin Veirs</h2>
<div class="justin">
  <img src="http://placebear.com/g/150/150" class="img-responsive img-circle" alt="" id="j-img">
  <span class="fa-stack fa-2x gitb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href='https://github.com/cheezedigital'><i class="fa fa-github fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x linkin">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://linkedin.com/pub/justin-veirs/73/179/9a4"><i class="fa fa-linkedin fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x fb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://www.facebook.com/justin.veirs"><i class="fa fa-facebook fa-stack-1x"></i></a>
  </span>
</div>
