<h2>Lia Kitamura</h2>
<div class="lia">
  <img src="http://placebear.com/g/150/150" class="img-responsive img-circle" alt="" id="l-img">
  <span class="fa-stack fa-2x gitb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://github.com/LiaKitamura" target='_blank'><i class="fa fa-github fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x linkin">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="www.linkedin.com/pub/lia-kitamura/a0/2b5/87" target='_blank'><i class="fa fa-linkedin fa-stack-1x"></i></a>
  </span>
  <span class="fa-stack fa-2x fb">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <a href="https://plus.google.com/100166343543936499109/about" target='_blank'><i class="fa fa-google fa-stack-1x"></i></a>
  </span>
</div>
