<div class="footer-1">
  <div class="container">
      <div class="row">
        <nav>
          <div class="span4 offset1">
            <h2>
              Support
            </h2>
              <ul class="col-sm-4">
                <li>
                  <a href="/contact">Contact</a>
                </li>
                <li>
                  <a href="/privacy policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="/terms of service">Terms Of Service</a>
                </li>
                <li>
                  <a href="/faq">FAQ</a>
                </li>
              </ul>
          </div>
          <div class="span4">
            <h2>
              About The Peeps!
            </h2>
            <ul class="col-sm-4">
              <li>
                <a href="/Lia's Facebook">Lia's Facebook</a>
              </li>
              <li>
                <a href="/Justin's Facebook">Justin's Facebook</a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <h2>
              Follow Us!
            </h2>
            <ul class="col-sm-4">
              <li>
                <a href="http://www.facebook.com/justinveirs">Facebook</a>
              </li>
              <li>
                <a href="http://www.twitter.com/justinveirs">Twitter</a>
              </li>
              <li>
                <a href="http://www.instagram.com/justinveirs">Instagram</a>
              </li>
            </ul>
            <div class="copyright">
              <small>copyright &copy; 2014 Made With Love.</small>
            </div>
          </div>
        </nav>
      </div>
  </div>
</div>
